@font-face {
    font-family: '8-BIT';
    src: url(../assets/8bitOperatorPlusSC-Regular.ttf);
}

$container-max-width:1200px;
$container-padding:15px;

/* colores */
$background-header: rgb(255 255 255);
$full-black: rgb(0 0 0);
/* tamaños */

$size-extra-small: 0.48rem;
$size-small: 0.56rem;
$size-h4: 0.64rem;
$size-parrafo: 0.64rem;
$size-h3: 1.04rem;
$size-h2: 1.68rem;
$size-h1: 2.56rem;

/* paddings */
$padding-30-per-cent:30%;
$padding-15-per-cent:15%;
$padding-10-per-cent:10%;
$padding-5-per-cent:5%;
$padding-2-per-cent:2%;
$padding-button:18%;
$padding-15-px:15px;
$padding-10-px:10px;

/* margins */

$margin-right-li-header:40px;



/* widths */

$width-img-header:80%;