@use "globals" as *;


footer {
  background-color: $background-header;
  font-family: '8-BIT';
  padding: $padding-5-per-cent 0;

  .container {
    @include container;
  }

  .footer-content {
    .row {
      

      @include respond-to("medium") {
        flex-direction: column;
        align-items: center; 
        text-align: center; 
        gap: $gap-for-cards; 
      }

      .contact-info {
        p {
          font-size: $size-parrafo;
          margin-bottom: $padding-10-px;

          a {
            color: $color-p-for-cards;
            text-decoration: none;

            &:hover {
              color: $button-projects;
            }
          }
        }

        @include respond-to("medium") {
          margin-bottom: $padding-15-px;
        }
      }

      .social-links {
        a {
          display: inline-block;
          font-size: $size-parrafo;
          color: $color-p-for-cards;
          text-decoration: none;
          margin-right: $padding-10-px;

          &:hover {
            color: $button-projects;
          }
        }

        @include respond-to("medium") {
          a {
            display: block;
            margin-right: 0; 
            margin-bottom: $padding-10-px;
          }
        }
      }

      .quick-links {
        a {
          display: inline-block;
          font-size: $size-parrafo;
          color: $color-p-for-cards;
          text-decoration: none;
          margin-right: $padding-10-px;

          &:hover {
            color: $button-projects;
          }
        }

        @include respond-to("medium") {
          a {
            display: block; 
            margin-right: 0; 
            margin-bottom: $padding-10-px;
          }
        }
      }
    }
  }
}


  